body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #111;
  color: white;
}

.hero {
  padding: 60px 20px;
  background: black;
  text-align: center;
}

.btn {
  display: inline-block;
  margin-top: 20px;
  padding: 12px 25px;
  background: red;
  color: white;
  text-decoration: none;
}

.services, .contact {
  padding: 40px 20px;
}

input, textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

button {
  width: 100%;
  padding: 12px;
  background: red;
  color: white;
  border: none;
}